src/gazebo_sim/urdf/prototype.gazebo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xacro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gazebo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mu1" type="xs:string" />
                            <xs:element name="mu2" type="xs:string" />
                            <xs:element name="material" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="reference" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>